/* General page styling */
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.background {
    background-color: #fff;
    /* Hat-tip: https://stackoverflow.com/a/32861765 */
    background-size: 40px 40px;
    background-image: linear-gradient(to right, silver 1px, transparent 1px),
        linear-gradient(to bottom, silver 1px, transparent 1px);
    color: #000;
    min-height: 100%;
}

:global(.dark-theme) .background {
    background-color: #000;
    color: #fff;
}

/* Auth */
.app-auth {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 24px;
}

@media (min-width: 640px) {
    .app-auth {
        padding-top: 0;
        justify-content: center;
    }
}

.auth-wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 24px;
    padding: 16px 24px;
}

@media (min-width: 640px) {
    .auth-wrapper {
        max-width: 448px;
    }
}

/* Admin */
.app-admin {
    min-height: 100vh;
}

.app-admin header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 24px 16px
}

/* Buttons */
.btn {
    background-color: #1f2937;
    border: 1px solid transparent;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    display: inline-flex;
    letter-spacing: 0.1em;
    padding: 8px 16px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #374151;
}


/* Card */
.card-container-outer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.card-container {
    margin: 0 auto;
    margin-top: 24px;
    max-width: 1280px;
}

@media (min-width: 640px) {
    .card-container {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media (min-width: 1024px) {
    .card-container {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.card {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 16px;
    border: 2px solid #000;
    border-radius: 4px;
}

@media (min-width: 640px) {
    .card {
        padding: 32px;
    }
}

/* Forms */
input {
    border: 2px solid #d1d5db;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    display: block;
    font-size: 20px;
    margin-top: 4px;
    width: 100%;
}

input:focus {
    border-color: #6366f1;
}

.input-block {
    display: block;
    margin-top: 16px;
}

label {
    margin-bottom: 10px;
}

.remember-me-wrapper label {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.remember-me-wrapper input {
    width: 20px;
}

.remember-me-wrapper span {
    width: 100%;
}

.password-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
}

/* Nav */
nav {
    border-bottom: 2px solid #6b7280;
}

.nav-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 16px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    margin-left: 16px;
}

.nav-wrapper {
    display: none;
    margin-left: 32px;
}

@media (min-width: 640px) {
    .nav-wrapper {
        display: flex;
    }
}

.settings-container {
    display: none;
    justify-items: center;
}

.settings-container button {
    border: 2px solid #000;
    border-radius: 6px;
    display: inline-flex;
    font-size: 14px;
    justify-items: center;
    padding: 8px 12px;
}

@media (min-width: 640px) {
    .settings-container {
        display: flex;
    }
}

/* Utils */
.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.hidden {
    display: none;
}

.justify-between {
    justify-content: space-between;
}

.space-y-2 {
    margin-top: 8px;
}

.p-6 {
    padding: 24px;
}