/* General page styling */
html {
    font-family: Helvetica, 'Times New Roman', Times, serif;
}

html,
body,
.app-admin {
    height: 100%;
}

.background {
    background-color: #fff;
    /* Hat-tip: https://stackoverflow.com/a/32861765 */
    background-size: 40px 40px;
    background-image: linear-gradient(to right, silver 1px, transparent 1px),
        linear-gradient(to bottom, silver 1px, transparent 1px);
    color: #000;
    min-height: 100%;
}

:global(.dark-theme) .background {
    background-color: #000;
    color: #fff;
}

.main-wrapper {
    padding-top: 30px;
}

/* Auth */
.app-auth {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 24px;
}

@media (min-width: 640px) {
    .app-auth {
        padding-top: 0;
        justify-content: center;
    }
}

.auth-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 16px 24px;
}

@media (min-width: 640px) {
    .auth-wrapper {
        max-width: 448px;
    }
}

/* Admin */
.app-admin {
    min-height: 100vh;
}

header:not(.admin-header) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.admin-header {
    font-family: 'Bungee Inline', display;
    font-size: 64px;
    background-color: #fff;
    color: #1e3a8a;
    line-height: initial;
    max-width: 1280px;
    margin: 0 auto;
    overflow: auto;
    padding: 12px 0;
    text-align: center;
    text-rendering: geometricPrecision;
}

/* Buttons */
.btn {
    background-color: #1f2937;
    border: 1px solid transparent;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    display: inline-flex;
    letter-spacing: 0.1em;
    padding: 8px 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    background-color: #374151;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.btn-secondary {
    background-color: #6b7280;
}

.btn-danger {
    background-color: #991b1b;
}

.btn-danger:hover {
    background-color: #450a0a;
}


/* Card */
.card-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 24px;
    max-width: 1280px;
    row-gap: 24px;
}

.card {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 16px;
    border: 2px solid #000;
    border-radius: 4px;
}

@media (min-width: 640px) {
    .card {
        padding: 32px;
    }
}

/* Forms */

form,
section {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

input {
    border: 2px solid #d1d5db;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    display: block;
    font-size: 20px;
    width: 100%;
}

input:focus {
    border-color: #6366f1;
}

.input-block {
    display: block;
    margin-top: 16px;
}

label {
    margin-bottom: 10px;
}

.remember-me-wrapper label {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.remember-me-wrapper input {
    width: 20px;
}

.remember-me-wrapper span {
    width: 100%;
}

.password-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
}

/* Nav */
nav {
    background-color: #7f1d1d;
    display: flex;
    align-items: center;
}

.nav-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 16px 0;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    margin-left: 16px;
}

@media (min-width: 640px) {
    .nav-wrapper {
        display: flex;
    }
}

/*
'inline-flex items-center px-1 pt-1 border-b-2 border-indigo-400 text-sm font-medium leading-5 text-gray-900 focus:outline-none focus:border-indigo-700 transition duration-150 ease-in-out'
*/

.settings-container {
    display: none;
    justify-items: center;
}

.settings-container button {
    border: 2px solid #000;
    border-radius: 6px;
    display: inline-flex;
    font-size: 14px;
    justify-items: center;
    padding: 8px 12px;
}

@media (min-width: 640px) {
    .settings-container {
        display: flex;
    }
}

/* Utils */
.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.hidden {
    display: none;
}

.justify-between {
    justify-content: space-between;
}

.space-y-2 {
    margin-top: 8px;
}

.p-6 {
    padding: 24px;
}