/* General page styling */
html {
    font-family: Helvetica, 'Times New Roman', Times, serif;
}

html,
body,
.app-admin {
    height: 100%;
}

.background {
    background-color: #fff;
    /* Hat-tip: https://stackoverflow.com/a/32861765 */
    background-size: 40px 40px;
    background-image: linear-gradient(to right, silver 1px, transparent 1px),
        linear-gradient(to bottom, silver 1px, transparent 1px);
    color: #000;
    min-height: 100%;
}

:global(.dark-theme) .background {
    background-color: #000;
    color: #fff;
}

.main-wrapper {
    padding: 30px 16px 0 16px;
}

/* Auth */
.app-auth {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 24px;
}

@media (min-width: 640px) {
    .app-auth {
        padding-top: 0;
        justify-content: center;
    }
}

.auth-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 16px 24px;
}

@media (min-width: 640px) {
    .auth-wrapper {
        max-width: 448px;
    }
}

/* Card */
.card-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 24px;
    max-width: 1280px;
    row-gap: 24px;
}

.card {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 16px;
    border: 2px solid #000;
    border-radius: 4px;
}

@media (min-width: 640px) {
    .card {
        padding: 32px 16px;
    }
}

.action-card {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px;
}


/* Admin */
.app-admin {
    min-height: 100vh;
}

header:not(.admin-header) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.admin-header {
    font-family: 'Bungee Inline', display;
    font-size: 64px;
    background-color: #fff;
    color: #1e3a8a;
    line-height: initial;
    max-width: 1280px;
    margin: 0 auto;
    overflow: auto;
    padding: 12px 0;
    text-align: center;
    text-rendering: geometricPrecision;
}

/* Buttons */
.btn {
    background-color: #1f2937;
    border: 1px solid transparent;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    display: inline-flex;
    letter-spacing: 0.1em;
    padding: 8px 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    background-color: #374151;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px
}

@media (min-width: 640px) {
    .btn-container {
        justify-content: flex-end;
    }
}

.btn-secondary {
    background-color: #6b7280;
}

.btn-danger {
    background-color: #991b1b;
}

.btn-danger:hover {
    background-color: #450a0a;
}



/* Forms */
form,
section {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

input,
textarea {
    border: 2px solid #d1d5db;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    display: block;
    font-size: 20px;
    width: 100%;
}

input:focus,
textarea:focus {
    border-color: #6366f1;
}

.input-block {
    display: block;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
}

.remember-me-wrapper label {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.remember-me-wrapper input {
    width: 20px;
}

.remember-me-wrapper span {
    width: 100%;
}

.password-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
}

/* Nav */
nav {
    background-color: #7f1d1d;
    display: flex;
    align-items: center;
}

.admin-nav {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    padding: 16px 0;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}

@media (min-width: 720px) {
    .admin-nav {
        flex-direction: row;
    }
}

.nav-link {
    font-size: 20px;
    color: #fff;
}

.nav-container,
.profile-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px 16px;
    flex-wrap: wrap;
}

@media (min-width: 720px) {
    .nav-container {
        min-height: 64px;
    }

    .nav-container,
    .profile-container {
        gap: 20px;
    }
}

.nav-container a,
.profile-container a,
.profile-container p {
    font-size: 20px;
    color: #FFF;
}

.profile-container {
    align-items: center;
}

.profile-container button {
    border: none;
    display: inline-flex;
    background: inherit;
    font-size: 14px;
    justify-items: center;
    padding: 8px 12px;
}

.game-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

@media (min-width: 640px) {
    .game-info-wrapper {
        align-items: start;
        flex-direction: row;
    }
}

.game-info-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-info-details ul {
    padding: 0;
    margin: 0;
}

/* Utils */
.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.hidden {
    display: none;
}

.inline-flex {
    display: inline-flex;
}

.justify-between {
    justify-content: space-between;
}

.space-y-2 {
    margin-top: 8px;
}

.p-6 {
    padding: 24px;
}
