html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#app {
    height: 100%;
}

.game-font {
    color: #1e3a8a;
    font-family: 'Bungee Inline', serif;
    font-size: 32px;
    line-height: initial;
    overflow: auto;
    text-rendering: geometricPrecision;
}

a {
    color: #1e3a8a;
    text-decoration: solid #1e3a8a;
}

.dark-theme a:not(game-font) {
    color: #6a91ff;
    text-decoration: solid #6a91ff;
}

.block {
    display: block;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#mobile-menu a {
    margin: 0 auto;
}

