html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#app {
    height: 100%;
}

.game-font {
    font-family: 'Bungee Inline', serif;
}

a {
    color: #1e3a8a;
    text-decoration: solid #1e3a8a;
}

.dark-theme a {
    color: #6a91ff;
    text-decoration: solid #6a91ff;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#mobile-menu a {
    margin: 0 auto;
}
