/* General page styling */
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#app {
    height: 100%;
}

.game-font {
    font-family: 'Bungee Inline', display;
}

/* Utilities */

.block {
    display: block;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}