@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    height: 100vh;
    /* Hat-tip: https://stackoverflow.com/a/32861765 */
    background-size: 40px 40px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}
